

<div class="content">
<div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" >
                    <div class="HeaderName">The teams you belong to </div>
                     <small class="text-info"> <%= fa_icon "plus" %> <%= link_to "Create new team",new_team_url, remote: true %>  </small>
          </h1>
            </div>
        </div>
</div>

        <div class="container" id="ContentContainer">
            <div class="flex-row row"  id="teams">
                    <% @teams.each do |team| %>
                        <div class="col-xs-6 col-sm-4 col-lg-3" id="team_<%= team.id %>" >
                            <div class="thumbnail" >
                                <div class="caption">
                                        <div class="text-right">
                                        <%= link_to  team_unit_index_url(team),:remote=>true  do %>
                                        <%= fa_icon "user" %> 
                                         <% end %>
                                        </div>
                                        <div class="text-center">
                                    <h3><%= team.name %></h2>
                                    <p class="flex-text text-muted"> <%= team.description %>  </p>
                                        </div>
                                    <%= link_to  "Show tasks",  team_task_index_url(team),:class=>"btn btn-primary",:remote=>true %>
                                    <%= link_to  "Remove", team_url(team),method: :delete,:class=>"btn btn-danger",:style=>"margin-top:10px;",:remote=>true %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>        
        </div>